@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body{
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(imagenes/cierlo2.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
        font-family: "Poppins", sans-serif;
}
